.backdrop {
  position: fixed;
  inset: 0;
  z-index: 9999;
}

.modal {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;

  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  width: 600px;
  max-width: 90vw;
  height: 350px;
  color: black;
}

.searchWrapper {
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.searchInput {
  flex: 1;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  outline: none;

  font-size: 1rem;
  padding: 0.5rem 0.75rem;

  caret-color: black;
  color: black;
}

.closeButton {
  all: unset;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resultList {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 300px;
  overflow-y: auto;
}

.resultItem {
  padding: 0.75rem;
  cursor: pointer;
  border-bottom: 1px solid #eee;

  &:hover {
    background-color: #f0f0f0;
  }
}

.empty {
  padding: 1rem;
  text-align: center;
  color: #aaa;
}